<ion-content class="background">
  <ion-grid class="container grid-container mt-2">
    <ion-row>
      <ion-col style="align-items: center">
        <ion-img
          class="logo"
          src="https://firebasestorage.googleapis.com/v0/b/tfgdam-jaf.appspot.com/o/assets%2Fescudo.png?alt=media&token=5672f8a7-6df2-4119-86cb-66f1a5c1e7d7"
        ></ion-img>
        <ion-label class="logo-label" style="font-size: 22px">JAFION</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-md-10 mx-auto mt-2">
        <ion-card class="card">
          <ion-card-content class="card-contenedor">
            <h2 class="card-title">Recuperacion de contraseña</h2>
            <form>
              <ion-item lines="full">
                <ion-label position="floating">Dirección de correo electrónico</ion-label>
                <ion-input
                  type="email"
                  required
                  #passwordResetEmail
                ></ion-input>
              </ion-item>
              <button class="card-button mt-5" type="submit" style="margin-top: 20px" expand="block" size="large"
                (click)="authService.forgotPassword(passwordResetEmail.value.toString())">
                Enviar correo de recuperacion
              </button>
              <small>
                Proporcione la dirección de correo electrónico que utilizó cuando se registró en su cuenta
              </small><br /><br /><br />
              <ion-label [routerLink]="['/login']" class="card-label-link mt-5">Volver a inicio de sesion</ion-label>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
